  
@charset "UTF-8";

.headfoot {
  background-color: #3498db; /* Color de fondo del bloque */
    padding: 5px; /* Espacio interno alrededor del texto */
    border-radius: 10px; /* Opcional: para bordes redondeados */
    margin: 5px auto; /* Centra el bloque horizontalmente y añade margen arriba y abajo */
    width: 90%; /* Ajusta el ancho del bloque */
    margin-bottom: 20px
  }

  .txtheadfoot {
    margin-left: 0;
    text-align: center;
    color: rgba(255, 255, 255);
  }
  .imagen_mediana {
    width: 30%;
    height: auto;
    padding: 40px; 
    border-radius: 10px; 
    margin: 10px auto; 
    margin-bottom: 5px;
    display:block;
    text-align: center;
  }
  .contenedor_menu
{
    display: flex; /* Habilita el diseño flexible (flexbox) */
    justify-content: space-around; /* Distribuye el espacio entre los elementos */
    align-items: center; /* Centra verticalmente los elementos dentro del contenedor */
    margin-top: 20px;
}
  .opcion
  {
    text-align: center; /* Centra el contenido dentro de cada div */
    margin: 0 10px; /* Añade espacio horizontal entre las opciones */
}
  .fila-formulario
   {
    display: inline-block; /* Hace que los elementos se muestren en línea pero con propiedades de bloque */
    margin-right: 5px; /* Opcional: añade espacio entre la etiqueta y el campo */
    vertical-align: middle; /* Opcional: alinea verticalmente los elementos */
    width: 364px; /* Ajusta el ancho de las etiquetas */
        text-align: left;
}
.tabla
{

    border-collapse: separate; 
    width: 80%; 
    margin: 20px auto; 
    box-shadow: 2px 2px 5px #ccc; 
    border-radius: 5px; 
}
th,td
{
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}
.ta1{
     background-color: #337ab7; /* Color de fondo azul */
    color: white;
    font-weight: normal;
    padding-top: 15px;
    padding-bottom: 15px;
}
.row1{
  background-color: #f0f8ff; 
}